@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: transparent;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

body{
    background-color: #f8f8f8;
}

.main-container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container{
    background-color: hsla(204, 100%, 50%, 0.5);
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.title-container .flasktitle {
    font-family: 'Roboto', serif;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
}

.title-container .flasksubtitle {
    font-family: 'Roboto', serif;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.window-container{
    height: 400px;
    width: 400px;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.form{
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.form .form-buttons{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.form .btn{
    background-color: hsla(204, 100%, 50%, 0.5);
    border-radius: 8px;
    text-decoration: none;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 110px;
    margin: 5px;
}

.form .btn:hover{
    background-color: hsla(204, 100%, 50%, 1);
    font-size: 16px;
}

.form .form-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form .labelfor{
    font-family: 'Roboto', serif;
    background-color: transparent;
    font-weight: bold;
}
.form .form-input{
    border: 1px solid black;
    width: 100%;
    font-family: 'Roboto', serif;
    font-size: 18px;
}

.form .form-input:focus{
    outline: 1px solid black;
}

.error{
    top: 0;
    width: 100vw;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.4);
    text-align: center;
}

.error .error-msg{
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
}

.success{
    top: 0;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 255, 136, 0.4);
    text-align: center;
}

.success .success-msg{
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: hsla(204, 100%, 50%, 1);;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top:-5px;
    right: 105%;
}
 
.tooltiptext ul{
    list-style: none;
    text-align: left;
    background-color: transparent;
    padding: 5px 5px;
}
.tooltiptext ul li{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.645);
    font-family: 'Roboto', serif;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.chat__layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
    height: 700px;
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;
}
.chat__wrapper{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
}
.chat__wrapper .chat__sala{
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chat__wrapper .chat__inputs{
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}

.chat__listamensajes{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.chat__msg {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: default;
}

.chat__msg:hover{
    background-color: #3333333f;
}

.chat__inputs{
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
}

.chat__notif{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.chat_join{
    background-color: rgba(45, 250, 45, 0.5);
}

.chat_leave{
    background-color: rgba(255, 25, 25, 0.5);
}

.users__container{
    flex: 1;
    border-left: 2px solid black;
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 153, 255, 0.1);
    transition: all 100ms ease;
}
.users__wrapper{
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.user__element{
    padding: 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.users__container ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 153, 255, 0.123);
}

.users__container li{
    cursor: pointer;
    scroll-snap-align: start;
}

.users__container li:hover{
    background-color: rgba(0, 153, 255, 0.281);
}

.users__container .user__buttons{
    margin-top: 5px;
}

.users__container button{
    border: none;
    border: 1px solid black;
    padding: 5px;
}

.users__container button:hover{
    background-color: #97979734;
}
