<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>FlaskChat - {% block title %}{% endblock title %}</title>
</head>
<body>
  <div class="main-container">
    {%if error %}
    <div class="error">
      <div class="error-msg">
        {{error}}
      </div>
    </div>
    {%endif%}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{category}}">
          <div class="{{category}}-msg">
            {{message}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="title-container">
      <span class="flasktitle">{%block maintitle%}{%endblock maintitle%}</span>
      <span class="flasksubtitle">{%block mainsubtitle%}{%endblock mainsubtitle%}</span>
    </div>
    <div class="window-container">
      <form class="form" action="{%block form_action%}{%endblock form_action%}" method="{%block form_method%}{%endblock form_method%}">
        <div class="form-inputs">
          {%block inputfields%}{%endblock inputfields%}
          <!--<span class="labelfor">Nombre: </span>
          <input type="text" class="form-input">
          <span class="labelfor">Contraseña: </span>
          <input type="password" class="form-input">-->
        </div>
        <div class="form-buttons">
          {%block buttons%}{%endblock buttons%}
          <!--<button class="btn">ENTRAR</button>
          <button class="btn">REGISTRO</button>-->
        </div>
      </form>
    </div>
  </div>
</body>
{%block script%}{%endblock script%}
</html>