<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskChat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body data-role="{{session['role']}}" data-name="{{session['nombre']}}">
    <div class="main-container">
        <div class="title-container">
            <span class="flasktitle">FlaskChat</span>
            <span class="flasksubtitle">@{{session['nombre']}}</span>
        </div>
        <div class="chat__layout">
            <div class="chat__wrapper">
                <div class="chat__sala" id="chat_sala">              
                    <div class="chat__listamensajes" id="chat_listamensajes">
                        {%if lista_mensajes|length > 0%}
                            {%for mensaje in lista_mensajes%}
                                {%with mensaje=mensaje%}
                                    {% include "includes/chatmessage.html"%}
                                {%endwith%}
                            {%endfor%}
                        {%endif%}
                    </div>
                </div>
                <div class="chat__inputs">
                    <form id="chat__form">
                        <input id="mensajeInput" size="40" autocomplete="off">
                        <input type="submit" value="ENVIAR MENSAJE">
                        <a href="{{url_for('logout')}}">SALIR</a>
                    </form>
                </div>
            </div>
            <div class="users__container" id="users_container">
                <span>Usuarios conectados: <span id="users_online">0</span></span>
                <ul id="users_wrapper">
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='javascript/chatjs.js')}}"></script>
</html>
