<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskChat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body data-role="{{session['role']}}" data-name="{{session['nombre']}}">
    <div class="main-container">
        <div class="title-container">
            <span class="flasktitle">FlaskChat</span>
            <span class="flasksubtitle">@{{session['nombre']}}</span>
        </div>
        <div class="chat__layout">
            <div class="chat__wrapper">
                <div class="chat__sala" id="chat_sala">              
                    <div class="chat__listamensajes" id="chat_listamensajes">

                    </div>
                </div>
                <div class="chat__inputs">
                    <form id="chat__form">
                        <input id="mensajeInput" size="40" autocomplete="off">
                        <input type="submit" id="enviarMensajeSubmit" value="ENVIAR MENSAJE">
                        <a href="{{url_for('logout')}}" id="salirLink">SALIR</a>
                    </form>
                </div>
            </div>
            <div class="users__container" id="users_container">
                <span>Usuarios conectados: <span id="users_online">0</span></span>
                <ul id="users_wrapper">
                </ul>
            </div>
        </div>
        <div class="dev-bar collapsed" id="dev-bar">
            <div class="dev-bar-header">
                <span>Opciones de desarrollador</span>
                <button id="toggle-devbar">▲</button>
            </div>
            <div class="dev-bar-content">
                <div class="dev-section">
                    <h3>Controles del chat</h3>
                    <button id="clear-messages">Borrar Mensajes</button>
                </div>
                <div class="dev-section">
                    <h3>Estado del socket</h3>
                    <div id="socket-status">Conectado</div>
                    <button id="connect-socket">Desconectar</button>
                </div>
                <div class="dev-section">
                    <h3>Información</h3>
                    <div class="info-section">
                        <div class="info-item">
                            <span class="item-first">Usuarios creados:</span>
                            <span class="item-last" id="usercount">10</span>
                        </div>
                        <div class="info-item">
                            <span class="item-first">Mensajes:</span>
                            <span class="item-last" id="messagecount">11230</span>
                        </div>
                        <div class="info-item">
                            <span class="item-first">Tiempo de respuesta:</span>
                            <span class="item-last" id="ping">0</span>
                        </div>
                        <div class="info-item">
                            <span class="item-first">Memoria utilizada:</span>
                            <span class="item-last" id="memoryusage">11230</span>
                        </div>
                        <div class="info-item">
                            <span class="item-first">Carga de la CPU:</span>
                            <span class="item-last" id="serverload">11230</span>
                        </div>
                    </div>
                    <button id="update-info">Actualizar</button>
                </div>
                <div class="dev-section">
                    <h3>Administración de usuarios</h3>
                    <div class="user-search-container">
                        <div class="user-search">
                            <input type="text" id="search-username" placeholder="Buscar usuario">
                            <button id="search-user">Buscar</button>
                            <div class="user-info-results">
                                <ul id="user-results-list">
                                </ul>
                            </div>
                        </div>
                        <div class="user-info" id="user-info_section">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='javascript/chatjs.js')}}"></script>
{% if session['role'] >= 10 %}
<script src="{{url_for('static', filename='javascript/devbar.js')}}"></script>
{% endif %}
</html>
