{%extends "base.html"%}

{%block title%}Login{%endblock title%}

{%block maintitle%}FlaskChat{%endblock maintitle%}
{%block mainsubtitle%}LOGIN{%endblock mainsubtitle%}
{%block form_action%}/login{%endblock form_action%}
{%block form_method%}POST{%endblock form_method%}
{%block inputfields%}
<span class="labelfor">Nombre: </span>
<input type="text" id="nombre" name="nombre" class="form-input" required>
<span class="labelfor">Contraseña: </span>
<input type="password" name="pass" class="form-input" required>
{%endblock inputfields%}
{%block buttons%}
<input type="submit" value="ENTRAR" class="btn">
<a href="{{url_for('register')}}" class="btn">REGISTRO</a>
{%endblock buttons%}
