{%extends "base.html"%}

{%block title%}Registro{%endblock title%}

{%block maintitle%}FlaskChat{%endblock maintitle%}
{%block mainsubtitle%}REGISTRO{%endblock mainsubtitle%}
{%block form_action%}/register{%endblock form_action%}
{%block form_method%}POST{%endblock form_method%}
{%block inputfields%}
<span class="labelfor">Nombre: </span>
<input type="text" id="nombre" name="nombre" class="form-input" required>
<span class="labelfor tooltip">Contraseña (?): <span class="tooltiptext"><ul>
    <li>Mínimo 5 carácteres</li>
    <li>Mínimo 1 letra</li>
    <li>Mínimo 1 número</li>
</ul></span></span>
<input type="password" name="pass" class="form-input" required>
<span class="labelfor">Repetir Contraseña: </span>
<input type="password" name="passrepeat" class="form-input" required>
{%endblock inputfields%}
{%block buttons%}
<input type="submit" value="REGISTRO" class="btn">
<a href="{{url_for('login')}}" class="btn">ATRÁS</a>
{%endblock buttons%}
